.root {
    -fx-font-family: "Roboto";
}

.jfx-list-view {
    -jfx-vertical-gap: 16px;
    -fx-background-color: #F7FAFA;
    -jfx-expanded: true;
}

.jfx-list-cell {
    -fx-background-color: WHITE;
    -fx-padding: 0 0 0 0;
}

.custom-jfx-list .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #5264AE;
}

/* The main scrollbar **track** CSS class  */
.custom-jfx-list .scroll-bar:horizontal .track,
.custom-jfx-list .scroll-bar:vertical .track {
    -fx-pref-width: 0;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-jfx-list .scroll-bar:horizontal .increment-button,
.custom-jfx-list .scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0;
}

/* The increment and decrement button CSS class of scrollbar */

.custom-jfx-list .scroll-bar:vertical .increment-button,
.custom-jfx-list .scroll-bar:vertical .decrement-button {
    -fx-pref-width: 0;

}

.custom-jfx-list .scroll-bar .increment-arrow,
.custom-jfx-list .scroll-bar .decrement-arrow {
    -fx-pref-width: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.custom-jfx-list .scroll-bar:horizontal .thumb,
.custom-jfx-list .scroll-bar:vertical .thumb {
    -fx-pref-width: 0;
}

.devices_item_pane {
    -fx-border-radius: 2 2 2 2;
    -fx-background-color: White
}

.devices_item_deviceName {
    -fx-text-fill: #263238;
    -fx-font-size: 12;
    -fx-font-style: bold
}

.devices_item_status {
    -fx-text-fill: White;
    -fx-font-size: 7;
    -fx-background-color: #2979ff;
}