.root {
    -fx-font-family: "Roboto";
}

.jfx-list-view {
    -jfx-vertical-gap: 12px;
    -fx-background-color: #F7FAFA;
    -jfx-expanded: true;
}

.jfx-list-cell {
    -fx-pref-width: 196px;
    -fx-background-color: WHITE;
    -fx-padding: 0 0 0 0;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.custom-jfx-list .jfx-list-cell .jfx-rippler {
    -jfx-rippler-fill: #82B1FF;
}

/* The main scrollbar **track** CSS class  */
.custom-jfx-list .scroll-bar:horizontal .track,
.custom-jfx-list .scroll-bar:vertical .track {
    -fx-pref-width: 0;
}

/* The increment and decrement button CSS class of scrollbar */
.custom-jfx-list .scroll-bar:horizontal .increment-button,
.custom-jfx-list .scroll-bar:horizontal .decrement-button {
    -fx-pref-width: 0;
}

/* The increment and decrement button CSS class of scrollbar */

.custom-jfx-list .scroll-bar:vertical .increment-button,
.custom-jfx-list .scroll-bar:vertical .decrement-button {
    -fx-pref-width: 0;

}

.custom-jfx-list .scroll-bar .increment-arrow,
.custom-jfx-list .scroll-bar .decrement-arrow {
    -fx-pref-width: 0;
}

/* The main scrollbar **thumb** CSS class which we drag every time (movable) */
.custom-jfx-list .scroll-bar:horizontal .thumb,
.custom-jfx-list .scroll-bar:vertical .thumb {
    -fx-pref-width: 0;
}

.devices_item_pane {
    -fx-border-radius: 2 2 2 2;
    -fx-background-color: White
}

.devices_item_deviceName {
    -fx-text-fill: #263238;
    -fx-font-size: 12px;
    -fx-font-weight: bold
}

.devices_item_status {
    -fx-text-fill: White;
    -fx-font-size: 7px;
    -fx-font-weight: bold;
    -fx-background-color: #95A5AD;
    -fx-border-radius: 2px;
    -fx-background-radius: 2px;
}

.play_bg {
    -fx-background-size: cover;
}

.play_pane {
    -fx-background-color: transparent;
}

.jfx_button_play .jfx-rippler,
.jfx_button_play_full .jfx-rippler,
.jfx_button_pause .jfx-rippler,
.jfx_button_screenshot .jfx-rippler,
.jfx_button_screenshot_full .jfx-rippler,
.jfx_button_record .jfx-rippler,
.jfx_button_record_full .jfx-rippler,
.jfx_button_voice .jfx-rippler,
.jfx_button_voice_full .jfx-rippler,
.jfx_button_voice_mute .jfx-rippler {
    -jfx-rippler-fill: #82B1FF;
}

.jfx_button_play_full,
.jfx_button_screenshot_full,
.jfx_button_record_full,
.jfx_button_voice_full {
    -fx-background-color: rgba(255, 255, 255, 0.6);
    /*设置圆角*/
    -fx-background-radius: 24;
    -fx-border-radius: 24;
}

.jfx_button_voice {
    -fx-background-image: url('/image/ic_speaker_on_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_voice_mute {
    -fx-background-image: url('/image/ic_speaker_off_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_screenshot {
    -fx-background-image: url('/image/ic_screenshots_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_play {
    -fx-background-image: url('/image/ic_play_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_pause {
    -fx-background-image: url('/image/ic_stop_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_record {
    -fx-background-image: url('/image/ic_record_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.jfx_button_recording {
    -fx-background-image: url('/image/ic_record_dark.png');
    -fx-pref-width: 24px;
    -fx-pref-height: 24px;
    -fx-min-width: 24px;
    -fx-min-height: 24px;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.image_play_full {
    -fx-image: url('/image/ic_play_dark.png');
}

.image_pause_full {
    -fx-image: url('/image/ic_stop_dark.png');
}

.image_screenshot_full {
    -fx-image: url('/image/ic_screenshots_dark.png');
}

.image_record_full {
    -fx-image: url('/image/ic_record_dark.png');
}

.image_voice_full {
    -fx-image: url('/image/ic_speaker_on_dark.png');
    -fx-background-color: rgba(255, 255, 255, 0.6);
    /*设置圆角*/
    -fx-background-radius: 24;
    -fx-border-radius: 24;
}

.image_voice_full_mute {
    -fx-image: url('/image/ic_speaker_off_dark.png');
    -fx-background-color: rgba(255, 255, 255, 0.6);
    /*设置圆角*/
    -fx-background-radius: 24;
    -fx-border-radius: 24;
}

.spinner_loading {
    -jfx-radius: 20;
}

.spinner_loading .arc {
    -fx-stroke-width: 5.0;
    -fx-stroke: #2979ff;
}

.top_button, .right_button, .bottom_button, .left_button {
    -fx-background-color: White;
    -fx-background-radius: 14;
    -fx-border-radius: 14;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
}

.top_button {
    -fx-background-image: url('/image/ic_direction_up_light.png');
}

.top_button:pressed {
    -fx-background-image: url('/image/ic_direction_up_color.png');
}

.right_button {
    -fx-background-image: url('/image/ic_direction_right_light.png');
}

.right_button:pressed {
    -fx-background-image: url('/image/ic_direction_right_color.png');
}

.bottom_button {
    -fx-background-image: url('/image/ic_direction_down_light.png');
}

.bottom_button:pressed {
    -fx-background-image: url('/image/ic_direction_down_color.png');
}

.left_button {
    -fx-background-image: url('/image/ic_direction_left_light.png');
}

.left_button:pressed {
    -fx-background-image: url('/image/ic_direction_left_color.png');
}

.direction_pane {
    -fx-background-image: url('/image/ic_direction_bg.png');
    -fx-background-size: 120 auto;
    -fx-background-position: center center;
}

.direction_pane_top {
    -fx-background-image: url('/image/ic_direction_top_bg.png');
    -fx-background-size: 120 auto;
    -fx-background-position: center center;
}

.direction_pane_right {
    -fx-background-image: url('/image/ic_direction_right_bg.png');
    -fx-background-size: 120 auto;
    -fx-background-position: center center;
}

.direction_pane_bottom {
    -fx-background-image: url('/image/ic_direction_down_bg.png');
    -fx-background-size: 120 auto;
    -fx-background-position: center center;
}

.direction_pane_left {
    -fx-background-image: url('/image/ic_direction_left_bg.png');
    -fx-background-size: 120 auto;
    -fx-background-position: center center;
}

.btn_quality {
    -fx-background-color: rgba(255, 255, 255, 0.4);
    -fx-background-radius: 2;
    -fx-border-radius: 2;
    -fx-text-fill: #263238;
    -fx-font-size: 12;
}

.btn_fullscreen {
    -fx-background-color: transparent;
    -fx-background-size: 24 auto;
    -fx-background-position: center center;
    -fx-background-image: url('/image/ic_full_screen_white.png');
}

.jfx-popup-container {
    -fx-background-color: transparent;
}

.pop_btn_quality {
    -fx-min-height: 20;
    -fx-pref-height: 20;
    -fx-pref-width: 48;
    -fx-min-width: 48;
    -fx-padding: 0, 0, 0, 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-text-alignment: center;
    -fx-alignment: center;
    -fx-font-size: 12;
}

.loading_content {
    -fx-background-color: white;
    -fx-background-radius: 4px;
    -fx-border-color: white;
    -fx-border-width: 4px;
    -fx-border-radius: 4px;
    -fx-padding: 4px;
}

.jfx-alert-overlay {
    -fx-background-color: #00000033;
    -fx-padding: 0;
}

.default_loading {
    -jfx-radius: 20px;
}

.default_loading .arc {
    -fx-stroke-width: 5.0;
    -fx-stroke: #2979ff;
}

.dialog-accept {
    -fx-text-fill: white;
    -fx-background-color: #2979ff;
    -fx-font-weight: BOLD;
    -fx-padding: 0.7em 0.8em;
}
